@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var game in Model.Games)
    {
        <tr>
            <td><a data-bs-toggle="modal" data-bs-target="#exampleModal" data-edit="@game.Id"><i class="bi bi-file-text"></i></a></td>
            <td>@game.Name</td>
            <td>@game.Description</td>
        </tr>
    }
    </tbody>
</table>

<script src="~/js-gen/Index.js" type="module"></script>

@section Modal
{
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Chess</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <label id="game-name"></label>
                    </div>
                    <div class="row">
                        <label id="desc-label" for="desc-text">Base</label>: &nbsp;<input type="text" id="desc-text" value="original"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
}
