@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var game in Model.Games)
    {
        <tr>
            <td><span class="text-bg-success p-3">@game.Id</span></td>
            <td>@game.Name</td>
            <td>@game.Description</td>
        </tr>
    }
    </tbody>
</table>
